@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap%27%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    font-family: Open sans;

}

h2 {
    padding: 20px;
    margin-left: 100px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.208);
    box-shadow: 0px 1px 20px 0px #8B8B8BA6;
    margin-bottom: 20px;
    background-color: #fff;
}

.logo {
    margin-left: 19px;
    margin-bottom: 9px;
    margin-top: 9px;
    width: 209px;
    height: 104px;
}

.topo {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 12px 24px;

}

.informacao {
    width: 100%;
    padding: 20px 100px 100px 100px;
    color: rgb(147, 152, 152)
}

.menu {
    display: flex;
    align-items: center;

    margin-right: 100px;
    margin-bottom: 20px;

    color: rgb(147, 147, 147);
    font-weight: 200;
    font-size: 24px;
    text-transform: uppercase;

}

.mnu {
    display: flex;
    align-items: flex-end;
    list-style: none;

}

.mnu li {
    margin-right: 56px;
}

.mnu li:last-child {
    margin-right: 0px;
}

.colunas {
    display: flex;
    align-items: flex-start;
}

.formulario {
    width: 100%;
    padding: 20px 100px 100px 100px;
    color: rgb(147, 152, 152);
}

.form-item {
    margin-bottom: 24px;
    width: 100%;
}

.form-item label {
    display: block;
    margin-bottom: 3px;

}

.form-item input,
.form-item select {
    width: 100%;
    padding: 8px 16px;
}

.form-item input {}

.form-item select {}

.form-item.checkbox {
    display: flex;
    align-items: center;
}

.form-item.checkbox input {
    width: auto;
    padding: auto;
}

.group-checkbox {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.pageFooter {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 248px;
    background-color: #C2185B;
}

.footerAside {
    padding: 40px;
}

.flogo {
    
}

.info {
    
 
    font-family: Open Sans, sans serif;
    font-size: 14px;
    color: #FFFFFF;
}

.footerBside {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.fmnuinst {
    margin-top: 56px;
    width: 246px;
    height: 131px;
    font-family: Open Sans, sans serif;
    font-size: 16px;
    color: #FFFFFF;
    list-style: none;
}

.fmnucat {
    margin-top: 56px;
    width: 246px;
    height: 131px;
    font-family: Open Sans, sans serif;
    font-size: 16px;
    color: #FFFFFF;
    list-style: none;
}

.item {
    font-weight: bold;
}

.euqueroessa > li {
    list-style: none;
}